@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap");

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 620px;
}

body {
  background: linear-gradient(var(--black-piano), var(--main-color-light));
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: max-content;
  background-attachment: fixed;
}
