:root {
  --primary-main: #f6f6f6;
  --primary-light: #ffffff;
  --primary-dark: #c3c3c3;

  --secondary-main: #1d29a0;
  --secondary-light: #5d53d2;
  --secondary-dark: #000470;

  --text: #030303;
}
