html, 
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(200,200,200);
}

.container{
  margin: 100px auto 0 auto;
  max-width: 1200px;
}

.nav-container{
  text-align: right;
  padding: 5px;
  margin: 5px 0 0 70%;
}

a{
  text-decoration: none;
}