:root {
  --menu-itens-hover: #b1babe;

  /*Cores principais*/
  --main-color: #115d8c;
  --second-color: #0396a6;
  --third-color: #6085a6;
  --fourth-color: #05dbf2;
  --fifith-color: #f0f2f2;

  /*Dark version*/
  --main-color-dark: #00345e;
  --secondary-color-dark: #006877;
  --third-color-dark: #315877;
  --fourth-color-dark: #00a9bf;
  --fifith-color-dark: #bebfbf;
  --black-piano: #010b02;

  /*X-Dark version*/
  --main-color-xdark: #000d34;
  --secondary-color-xdark: #003d4b;
  --third-color-xdark: #002f4b;
  --fourth-color-xdark: #007a8f;
  --fifith-color-xdark: #8e8f8f;

  /*light version*/
  --main-color-light: #508abc;
  --secondary-color-light: #56c7d7;
  --third-color-light: #90b5d8;
  --fourth-color-light: #6cffff;
  --fifith-color-light: #ffffff;

  /*X-light version*/
  --main-color-xlight: #83baef;
  --secondary-color-xlight: #8dfaff;
  --third-color-xlight: #c2e7ff;
  --fourth-color-xlight: #a6ffff;
  --fifith-color-xlight: #ffffff;

  /* Transparencia 25% */
  --main-color-transp-25: rgba(17, 93, 140, 0.25);
  --second-color-transp-25: rgba(3, 150, 166, 0.25);
  --third-color-transp-25: rgba(96, 133, 166, 0.25);
  --fourth-color-transp-25: rgba(5, 219, 242, 0.25);
  --fifith-color-transp-25: rgba(240, 242, 242, 0.25);

  /* Transparencia 50% */
  --main-color-transp-50: rgba(17, 93, 140, 0.5);
  --second-color-transp-50: rgba(3, 150, 166, 0.5);
  --third-color-transp-50: rgba(96, 133, 166, 0.5);
  --fourth-color-transp-50: rgba(5, 219, 242, 0.5);
  --fifith-color-transp-50: rgba(240, 242, 242, 0.5);

  /* Transparencia 75% */
  --main-color-transp-75: rgba(17, 93, 140, 0.75);
  --second-color-transp-75: rgba(3, 150, 166, 0.75);
  --third-color-transp-75: rgba(96, 133, 166, 0.75);
  --fourth-color-transp-75: rgba(5, 219, 242, 0.75);
  --fifith-color-transp-75: rgba(240, 242, 242, 0.75);
}

body {
  font-family: "Noto Sans SC", sans-serif;
}